body {
    background-color: #003B00;
    background-image: url('img/background-matrix.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Courier New, monospace;
    text-shadow: 0 0 3px #0D0208, 0px 0px 15px #00ff00, 0px 0px 9px #56b000, 0px 0px 15px #006400, 0px 0px 5px #006400;
    margin: 0 auto;
    width: 960px;
}

body, a {
    color: white;
}

img {
    border: #0D0208 solid 1px;
    filter: drop-shadow(0 0 2px #0D0208);
    height: auto;
    width: 200px;
    margin-top: 10px;
}

.panel {
    background-color: #0D0208;
    display: flex;
    gap: 20px;
    border: 2px solid #0D0208;
    padding: 20px;
    transition: all 0.3s ease;
    margin: 40px;

    &:hover{
        border: 2px solid #008F11;

        img {
            border: #008F11 solid 1px;
            filter: drop-shadow(0 0 2px #008F11);
        }
    }

    .left-side {
        min-width: 60%;
    }

    .right-side {
        border: 1px solid #008F11;
        background-color: white;
        color: #0D0208;
        text-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
