body {
    min-height: 100vh;
    background-color: #003B00;
    color: white;
    text-shadow: 0 0 3px #0D0208, 0px 0px 15px #00ff00, 0px 0px 9px #56b000, 0px 0px 15px #006400, 0px 0px 5px #006400;
    margin: 0 auto;
    width: 920px;
}

img {
    border: #0D0208 solid 1px;
    filter: drop-shadow(0 0 2px #0D0208);
    height: auto;
    width: 250px;
}

.panel {
    display: grid;
    grid-gap: 20px;
    border: 2px solid #0D0208;
    padding: 20px;
    transition: all 0.3s ease;
    min-height: 100vh;
    margin: 40px;

    &:hover{
        border: 2px solid #008F11;

        img {
            border: #008F11 solid 1px;
            filter: drop-shadow(0 0 2px #008F11)
        }
    }

    .box {
        max-width: 280px;
    }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }
}
